body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes appear {
  from {
    transform: translateX(10vh);
    opacity: 0;
  }
  to {
    transform: unset;
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(359deg);
  }
}
